/* IMPORT des polices de Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Kite+One);

/* RESET des styles imposés par les navigateurs */
*
{
	margin: 0;
	padding: 0;
}

/* Styles GENERALES de la page */

body
{
	text-align: center;
	font-size: 62.5%;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e35252+0,e08888+49,e35252+100 */
	background: rgb(227, 82, 82), url('../img/node-overlay-grey.png'); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(227, 82, 82, 1) 0%, rgba(224, 136, 136, 1) 49%, rgba(227, 82, 82, 1) 100%), url('../img/node-overlay-grey.png'); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(227, 82, 82, 1) 0%, rgba(224, 136, 136, 1) 49%, rgba(227, 82, 82, 1) 100%), url('../img/node-overlay-grey.png'); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(227, 82, 82, 1) 0%, rgba(224, 136, 136, 1) 49%, rgba(227, 82, 82, 1) 100%), url('../img/node-overlay-grey.png'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e35252', endColorstr='#e35252', GradientType=0); /* IE6-9 */
}

li{
	list-style-type: none;
}








/*
													HEADER
*/

header{
background-color: rgba(0, 0, 0, 0.2);
margin-bottom: 3rem;
width: 100%;
}

h1{
	text-transform: uppercase;
	font-size: 3rem;
	display: inline-block;
	float: left;
	margin-top: 2rem;
	margin-left: 2rem;
}

h1~a{
	font-size: 4.5rem;
	float: right;
	margin-right: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

#nav_hide{
	display: none;
	clear: both;
	padding-top: 1rem;
	padding-left: 2rem;
	border-top: .2rem solid black;
	text-align: left;
}

#nav_hide li{
	font-size: 2rem;
}

header p{
	clear: both;
	font-size: 1.4rem;
	padding: 2rem;
}

/* Format TABLETTE */

@media screen and (min-width: 700px){

	h1{
		font-size: 4rem;
		float: none;
		margin: none;
	}

	h1~a{
		display: none;
	}

	#nav_hide{
		display: inherit !important;
		margin: 1rem auto 2rem auto;
		border: none;
		width: 95%;
		text-align: center;
	}

	#nav_hide li{
		display: inline-block;
		font-size: 2rem;
	}

	#nav_hide a{
		margin-right: 1.5rem;
	}

	header p{
		font-size: 1.6rem;
	}
}

/* Format DESKTOP et PLUS */

@media screen and (min-width: 1024px){

	h1{
		font-size: 5.5rem;
	}

	#nav_hide{
		margin: 2rem auto 4rem auto;
	}

	#nav_hide a{
		font-size: 3rem;
		margin-right: 2.4rem;
	}

	header p{
		font-size: 1.8rem;
		width: 90%;
		margin: auto;
	}
}










/*
												FOOTER
*/

footer{
	background-color: rgba(0, 0, 0, 0.2);
	margin-top: 3rem;
	padding-bottom: 2rem;
	width: 100%;
}

footer ul{
	margin: 0 .5rem;
	padding: 1rem 0;
}

footer li{
	display: inline-block;
	margin-right: 1rem;
	font-size: 1.4rem;
}

/* Retrait du lien pour imprimer la page */
footer li:nth-child(4){
	display: none;
}

footer em{
	font-size: 1.2rem;
}

#backTop{
	position: absolute;
	font-size: 1.2rem;
	bottom: 10rem;
	right: 2rem;
	background-color: rgba(0, 0, 0, .4);
	padding: .4rem;
}

/* Format TABLETTE */

@media screen and (min-width: 700px){

	footer{
		padding-bottom: 1.5rem;
	}

	footer li{
		font-size: 1.6rem;
	}

	footer a{
		margin-right: 1.2rem;
	}

	footer em{
		font-size: 1.4rem;
	}
}

/* Format DESKTOP et PLUS */

@media screen and (min-width: 1024px){

	footer{
		padding-bottom: 2rem;
	}

	footer li{
		font-size: 1.8rem;
	}

	/* Ajout du lien pour imprimer la page */
	footer li:nth-child(4){
		display: inline-block;
	}

	footer a{
		margin-right: 2rem;
	}

	footer em{
		font-size: 1.6rem;
	}

	#backTop{

		font-size: 1.6rem;
		right: -1rem;
		padding: .8rem;
	}

}








/*
												Page INDEX
*/

#index_page{
	width: 90%;
	margin: auto;
}

#index_page h2{
	font-size: 2rem;
}

#index_page section{
	border: .2rem solid black;
	border-radius: .2rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	margin: 2rem auto;
	padding: 1rem;
}

#index_page section p{
	font-size: 1.4rem;
}

#index_page section h3{
	font-size: 1.8rem;
}

.index_img{
	width: 90%;
	height: 15rem;
	margin: 2rem auto;
}

.index_img img{
	height: 100%;
	width: 100%;
	margin: 1rem auto;
}

#index_page section a{
	display: inline-block;
	margin: 1rem 1.5rem;
}

#index_page i~span{
	display: block;
	font-size: 1.2rem;
}

.fa-info-circle, .fa-sign-in, .fa-check-circle, .fa-commenting-o{
	font-size: 4.5rem;
}

#index_page~footer{
	position: relative;
}

#index_page~footer #backTop{
	right: 1rem;
	bottom: 103%;
}


/* Format TABLETTE */

@media screen and (min-width:700px) {

	#index_page h2{
		font-size: 2.4rem;
	}

	#index_page section p{
		font-size: 1.6rem;
	}

	#index_page section h3{
		font-size: 2.2rem;
	}

	.index_img{
		width: 75%;
		height: 30rem;
	}

	#index_page section a{
		margin: 1.2rem 3rem;
	}

	#index_page i~span{
		font-size: 1.6rem;
	}

	.fa-info-circle, .fa-sign-in, .fa-check-circle, .fa-commenting-o{
		font-size: 6rem;
	}

}

/* Format DESKTOP et PLUS */

@media screen and (min-width:1024px) {

	#index_page h2{
		font-size: 2.4rem;
	}

	#index_page section{
		display: inline-block;
		width: 40%;
		margin: 2.5rem;
	}

	#index_page section p{
		font-size: 1.6rem;
	}

	#index_page section h3{
		font-size: 2.2rem;
	}

	#index_page section a{
		margin: 1rem 1.8rem;
	}

	#index_page i~span{
		display: block;
		font-size: 1.6rem;
	}

	.fa-info-circle, .fa-sign-in, .fa-check-circle, .fa-commenting-o{
		font-size: 6.5rem;
	}

}








/*
												Page RECHERCHE
*/

#search_page{
	width: 90%;
	margin: auto;
	padding-bottom: 8%;
}

#search_page form{
	width:90%;
	margin: auto;
}
#search_page input:not([type="submit"]){
	display: block;
	margin: 1rem auto;
	width: 70%;
	padding: .5rem;
	font-size: 1.2rem;
	border: none;
	border-radius: .2rem;
}

#search_page input[type="submit"] {
	display: block;
	width: 40%;
	font-size: 1.4rem;
	margin: 2rem auto 0 auto;
	padding: .4rem;
	border: none;
	border-radius: .2rem;
}

#search_page label{
	font-size: 1.2rem;
}

#search_page a{
	font-size: 1.2rem;
}

#search_page h2{
	font-size: 2rem;
	margin-top: 6rem;
}

#search_page section{
	border: .2rem solid black;
	border-radius: .2rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	margin: 2rem auto;
	padding: 1rem;
}

#search_page section p{
	font-size: 1.4rem;
}

#search_page section h3{
	font-size: 1.8rem;
}

.search_img{
	width: 90%;
	height: 15rem;
	margin: 2rem auto;
}

.search_img img{
	height: 100%;
	width: 100%;
	margin: 1rem auto;
}

#search_page section a{
	display: inline-block;
	margin: 1rem 1.5rem;
}

#search_page i~span{
	display: block;
	font-size: 1.2rem;
}

#search_page h2~em{
	display: block;
	font-size: 1.2rem;
}

[title="nouvelle recherche"]{
	display: block;
	font-size: 1.4rem !important;
	margin: 3rem auto 0 auto;
	width: 20rem;
}

#search_page~footer{
	position: relative;
}

#search_page~footer #backTop{
	right: 1rem;
	bottom: 103%;
}

/* Format TABLETTE */

@media screen and (min-width:700px) {

	#search_page{
		padding-bottom: 0;
	}
	#search_page input:not([type="submit"]){
		width: 50%;
		font-size: 1.8rem;
	}

	#search_page label{
		font-size: 1.6rem;
	}
	#search_page input[type="submit"] {
		width: 30%;
		font-size: 1.8rem;
		padding: .6rem;
	}

	#search_page h2{
		font-size: 2.4rem;
		margin-top: 8rem;
	}

	#search_page section p{
		font-size: 1.6rem;
	}

	#search_page section h3{
		font-size: 2.2rem;
	}

	.search_img{
		width: 75%;
		height: 30rem;
	}

	#search_page section a{
		margin: 1.2rem 3rem;
	}

	#search_page i~span{
		font-size: 1.6rem;
	}


	[title="nouvelle recherche"]{
		font-size: 1.8rem !important;
		width: 25rem;
	}

	#search_page a{
		font-size: 1.4rem;
	}
}

/* Format DESKTOP et PLUS */

@media screen and (min-width:1024px) {

	#search_page input:not([type="submit"]) {
		font-size: 2rem;
		width: 30%;
	}

	#search_page input[type="submit"] {
		font-size: 2rem;
		width: 20%;
		padding: .8rem;
	}

	#search_page label {
		font-size: 1.8rem;
	}

	#search_page h2{
		font-size: 2.9rem;
		margin-top:10rem;
	}

	#search_page section{
		display: inline-block;
		width: 40%;
		margin: 2.5rem;
	}

	#search_page section p{
		font-size: 1.8rem;
	}

	#search_page section h3{
		font-size: 2.6rem;
	}

	#search_page section a{
		margin: 1rem 1.8rem;
	}

	#search_page i~span{
		display: block;
		font-size: 1.6rem;
	}


	[title="nouvelle recherche"]{
		font-size: 2rem !important;
		width: 30rem;
	}

	#search_page a{
		font-size: 1.6rem;
	}
}






/*
											Page DERNIERS EVENEMENTS
*/

#last_events_page{
	width: 90%;
	margin: auto;
}

#last_events_page h2{
	font-size: 2rem;
}

#last_events_page section{
	border: .2rem solid black;
	border-radius: .2rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	margin: 2rem auto;
	padding: 1rem;
}

#last_events_page section p{
	font-size: 1.2rem;
}

#last_events_page section h3{
	font-size: 1.8rem;
}

.last_events_img{
	width: 90%;
	height: 15rem;
	margin: 2rem auto;
}

.last_events_img img{
	height: 100%;
	width: 100%;
	margin: 1rem auto;
}

#last_events_page section a{
	display: inline-block;
	margin: 1rem .5rem;
}

#last_events_page i~span{
	display: block;
	font-size: 1rem;
}

#last_events_page~footer{
	position: relative;
}

#last_events_page~footer #backTop{
	right: 1rem;
	bottom: 103%;
}

/* Format TABLETTE */

@media screen and (min-width:700px) {

	#last_events_page h2{
		font-size: 2.2rem;
	}

	#last_events_page section p{
		font-size: 1.4rem;
	}

	#last_events_page section h3{
		font-size: 2rem;
	}

	.last_events_img{
		width: 75%;
		height: 30rem;
	}

	#last_events_page section a{
		margin: 1.2rem 3rem;
	}

	#last_events_page i~span{
		font-size: 1.6rem;
	}


}

/* Format DESKTOP et PLUS */

@media screen and (min-width:1024px) {

	#last_events_page h2{
		font-size: 2.4rem;
	}

	#last_events_page section{
		display: inline-block;
		width: 40%;
		margin: 2.5rem;
	}

	#last_events_page section p{
		font-size: 1.6rem;
	}

	#last_events_page section h3{
		font-size: 2.2rem;
	}

	#last_events_page section a{
		margin: 1rem 1.8rem;
	}

	#last_events_page i~span{
		display: block;
		font-size: 1.6rem;
	}


}


/*
											Page EVENEMENT_DETAILS
*/

#event_description_page h3{
	font-size: 3rem !important;
}

#event_description_page h4{
	font-size: 2rem !important;
}

#event_description_page ul{
	font-size: 1.4rem !important;
}

.profil_detail_img{
	width: 50%;
	height: 15rem;
	margin: 2rem auto;
}

.profil_detail_img img{
	height: 100%;
	width: 100%;
	margin: 1rem auto;
}

.event_description_img{
	width: 90%;
	height: 30rem;
	margin: 4rem auto;
}

.event_description_img img{
	height: 100%;
	width: 100%;
	margin: 1rem auto;
}


#event_description_page iframe{
	width: 100%;
	height: 50rem;
	margin: 2rem auto;
}

iframe~a{
	margin: 2rem auto;
}

#event_description_page~footer{
	position: relative;
	bottom: 0;
}

#event_description_page~footer #backTop{
	right: 1rem;
	bottom: 103%;
}


/* Format TABLETTE */

@media screen and (min-width:700px) {

	#event_description_page h3{
		font-size: 4rem !important;
	}

	#event_description_page h4{
		font-size: 3rem !important;
	}

	#event_description_page ul{
		font-size: 2rem !important;
	}

	.profil_detail_img{
		width: 25%;
	}

	.event_description_img{
		display: inline-block;
		width: 30%;
		height: 40rem;
		margin: 5rem 1rem;
	}

	.event_description_img img {
		height: 100%;
		width: 100%;
		margin: 1rem auto;
	}

	#event_description_page article{
		width: 90%;
		margin: 2.5rem auto;
	}

	#event_description_page iframe{
		display: block;
		width: 90%;
		height: 50rem;
	}

	#event_description_page iframe~a{
		font-size: 2rem;
	}

}

/* Format DESKTOP */

@media screen and (min-width:1024px) {

	#event_description_page h3{
		font-size: 5rem !important;
	}

	#event_description_page h4{
		font-size: 4rem !important;
	}

	#event_description_page ul{
		font-size: 2.4rem !important;
	}

	.profil_detail_img {
		width: 20%;
		height: 25rem;
		margin: 2rem auto;
	}

	.event_description_img{
		width: 25%;
		height: 40rem;
		margin: 5rem 1rem;
	}

	#event_description_page iframe{
		width: 70%;
		height: 70rem;
	}

	#event_description_page iframe~a{
		font-size: 2.4rem;
	}

}

/* Format DESKTOP et PLUS */

@media screen and (min-width:2000px) {

	#event_description_page h3{
		font-size: 5rem !important;
	}

	#event_description_page h4{
		font-size: 4rem !important;
	}

	.profil_detail_img {
		width: 15%;
		height: 25rem;
		margin: 2rem auto;
	}

	.event_description_img{
		width: 30%;
		height: 60rem;
		margin: 5rem 1rem;
	}

	#event_description_page iframe{
		width: 50%;
		height: 70rem;
	}

}




/*
												Page CONNEXION
*/

#connexion_page{
	padding-bottom: 22%;
}

#connexion_page form{
	width:90%;
	margin: 15rem auto;
}

#connexion_page input:not([type="submit"]){
	display: block;
	margin: 1rem auto;
	width: 70%;
	padding: .5rem;
	font-size: 1.2rem;
	border: none;
	border-radius: .2rem;
}

#connexion_page input[type="submit"] {
	display: block;
	width: 40%;
	font-size: 1.4rem;
	margin: 2rem auto 0 auto;
	padding: .4rem;
	border: none;
	border-radius: .2rem;
}

#connexion_page label{
	font-size: 1.2rem;
}

#connexion_page a{
	font-size: 1rem;
}

#connexion_page~footer{
	position: absolute;
	bottom: 0;
}

#connexion_page~footer #backTop{
	display: none;
}

/* Format TABLETTE */

@media screen and (min-width:700px) {

	#connexion_page{
		padding-bottom: 0;
	}

	#connexion_page input:not([type="submit"]){
		width: 50%;
		font-size: 1.6rem;
	}

	#connexion_page label{
		font-size: 1.4rem;
	}

	#connexion_page a{
		font-size: 1.2rem;
	}

	#connexion_page input[type="submit"] {

		width: 30%;
		font-size: 1.6rem;
		padding: .6rem;
	}
}

/* Format DESKTOP et PLUS */

@media screen and (min-width:1024px) {

	#connexion_page input:not([type="submit"]) {
		font-size: 1.8rem;
		width: 30%;
	}

	#connexion_page input[type="submit"] {
		font-size: 1.8rem;
		width: 20%;
		padding: .8rem;
	}

	#connexion_page label {
		font-size: 1.6rem;
	}

	#connexion_page a{
		font-size: 1.4rem;
	}

}








/*
											Page CREER EVENEMENT
*/


#create_event_page form{
	width:90%;
	margin: auto;
}

#create_event_page h2{
	margin: 2rem auto;
	font-size: 1.4rem;
	width: 90%;
}

#create_event_page input, #create_event_page select{
	display: block;
	margin: 1rem auto;
	padding: .5rem;
	font-size: 1.2rem;
	border: none;
	border-radius: .2rem;
	width: 80%;
}

#create_event_page input[type="submit"] {
	width: 60%;
	font-size: 1rem;
	margin: 2rem auto 0 auto;
	padding: .4rem;
}

#create_event_page label{
	font-size: 1rem;
}

#create_event_page a{
	display: block;
	font-size: .8rem;
	margin-bottom: 1rem;
}

/* Format TABLETTE */

@media screen and (min-width:700px) {

	#create_event_page h2{
		margin: 2.2rem auto;
		font-size: 1.6rem;
	}

	#create_event_page input:not([type="submit"]), #create_event_page select{
		width: 50%;
		font-size: 1.4rem;
	}

	#create_event_page input[type="submit"] {
		width: 30%;
		font-size: 1.4rem;
		margin-top: 2rem;
		padding: .8rem;
	}

	#create_event_page label{
		font-size: 1.2rem;
	}

	#create_event_page a{
		font-size: 1rem;
	}
}

/* Format DESKTOP et PLUS */

@media screen and (min-width:1024px) {

	#create_event_page input:not([type="submit"]), #create_event_page select{
		font-size: 1.6rem;
		width: 40%;
	}

	#create_event_page input[type="submit"] {
		width: 30%;
		font-size: 1.6rem;
		margin-top: 2rem;
		padding: .8rem;
	}

	#create_event_page label {
		font-size: 1.4rem;
	}

	#create_event_page a{
		font-size: 1.2rem;
	}

}






/*
									Page PANIER(Recuperation du code depuis Bootstrap)
*/

#basket_page article p{
	font-size: 1.4rem;
}

#basket_page article h4{
	font-size: 2rem;
	margin-top: 2rem;
}

#basket_page article a{
	display: block;
	font-size: 1.2rem;
}

#basket_page article a:first-of-type{
	margin-top: 1.5rem;
}

#basket_page span{
	display: block;
	height: .2rem;
	background-color: white;
	width: 3rem;
	margin: 2rem auto;
}

#basket_page table, #basket_page form{
	display: none;
}

#basket_page div{
	border: .2rem solid black;
	border-radius: .2rem;
	margin: 2rem auto 0 auto;
	width: 50%;
}

#basket_page div h4{
	font-size: 1.6rem;
}

#basket_page div p{
	font-size: 1.4rem;
}

#basket_page div a{
	font-size: 1.2rem;
}

#basket_page~footer{
	position: relative;
}

#basket_page~footer #backTop{
	right: 1rem;
	bottom: 103%;
}

/* Format TABLETTE */

@media screen and (min-width:700px) {

	#basket_page section{
		display: none;
	}

	#basket_page table {
		display: inherit;
		border: none;
		border-collapse: collapse;
		border-spacing: 0;
		width: 90%;
		margin:0 auto 2rem auto;
	}

	#basket_page th, #basket_page td{
		font-size: 1.2rem;
		width: 25%;
		margin: auto;
		text-align: center;
		height: 5rem;
		vertical-align: middle;
	}

	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td {
		padding-top: .5rem;
		padding-bottom: .5rem;
		border-top: .1rem solid rgba(0, 0, 0, .8);
	}
	.table > thead > tr > th {
		border-bottom: .2rem solid rgba(0, 0, 0, .8);
	}

	.table > tbody + tbody {
		border-top: .2rem solid rgba(0, 0, 0, .8);
	}

	#basket_page table td[class*="col-"],
	#basket_page table th[class*="col-"] {
		position: static;
		float: none;
		display: table-cell;
	}

	#basket_page td[colspan="7"]{
		text-align: left;
		border-top: .2rem solid black;
	}

	#basket_page td[colspan="7"]~td{
		border-top: .2rem solid black;
	}

	.fa-pencil, .fa-trash{
		font-size: 2rem;
	}

	#basket_page form{
		display: inherit;
	}

	#basket_page input{
		display: block;
		margin: 1rem auto;
		padding: .5rem;
		font-size: 1.4rem;
		border: none;
		border-radius: .2rem;
	}

	#basket_page~footer{
		bottom: 0;
	}

	#basket_page~footer #backTop{
		right: 1rem;
		bottom: 103%;
	}

}

/* Format DESKTOP et PLUS */

@media screen and (min-width:1024px) {

	#basket_page th, #basket_page td{
		font-size: 1.6rem;
		height: 10rem;
	}

	#basket_page input{
		font-size: 1.6rem;
		margin: 2rem auto;
		padding: 1rem;
	}

}









/*
									Page PROFIL
*/
#previewImage {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

#profil_modif ul {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#profil_modif li {
	font-size: 1rem;
}

#profil_modif h2 {
    margin-top: 2rem;
}

#profil_modif .form-group {
    padding: 0.3rem;
}

#profil_modif .list-add-events, #profil_modif .list-past-events {
	cursor: pointer;
	border: 0.1rem solid white;
	padding: 1rem 0;
	margin: 2rem auto;
	background-color: aliceblue;
	width: 77%;
	font-size: 1rem;
}

#profil_modif .add-events, #profil_modif .past-events {
    width: 80%;
    margin: 1rem auto 2rem;
    display: none;
}

#profil_modif table, #profil_modif th, #profil_modif td {
    border: 1px solid black;
    border-collapse: collapse;

}
#profil_modif th, #profil_modif td {
    padding: 5px;
}

#profil_modif .btn-primary {
	font-size: 1rem;
	margin-bottom: 2rem;
}

@media screen and (min-width:700px){
	#profil_modif .show-events, #profil_modif .info-profil{
		display: inline-block;
		width: 45%;
	}

	#profil_modif .col-sm-6 {
		width: 100%;
	}

}

@media screen and (min-width:1024px){
	#profil_modif .show-events, #profil_modif .info-profil{
		display: inline-block;
		width: 45%;
	}
}




/*
									Page MODIFIER PROFIL
*/


#profil_modif .well-sm {
	border: 0.1rem solid #337ab7;
	padding: 0.5rem 0.5rem;
	border-radius: 4%;
	background-color: #337ab7;
	font-size: 0.8rem;
	color: white;
}


#profil_modif p {
	margin: 1rem 0 10px;
	font-size: 1rem;
}

.control-label {
	font-size: 1rem;
}

#profil_modif .btn-default {
	font-size: 1rem;
	margin-bottom: 2rem;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}








/*
									Page GESTION MEMBRE(Recuperation du code depuis Bootstrap)
*/

#manage_member_page article p{
	font-size: 1.4rem;
}

#manage_member_page article h4{
	font-size: 2rem;
	margin-top: 2rem;
}

#manage_member_page article a{
	display: block;
	font-size: 1.2rem;
}

#manage_member_page article a:first-of-type{
	margin-top: 1.5rem;
}

#manage_member_page span{
	display: block;
	height: .2rem;
	background-color: white;
	width: 3rem;
	margin: 2rem auto;
}

#manage_member_page table{
	display: none;
}

#manage_member_page~footer{
	position: relative;
}

#manage_member_page~footer #backTop{
	right: 1rem;
	bottom: 103%;
}

/* Format TABLETTE */

@media screen and (min-width:700px) {

	#manage_member_page section{
		display: none;
	}

	#manage_member_page table {
		display: inherit;
		border-collapse: collapse;
		border-spacing: 0;
		width: 90%;
		margin:0 auto 2rem auto;
	}

	#manage_member_page th, #manage_member_page td{
		font-size: 1rem;
	}

	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td {
		padding-top: .5rem;
		padding-bottom: .5rem;
		vertical-align: top;
		border-top: .1rem solid rgba(0, 0, 0, .8);
	}
	.table > thead > tr > th {
		vertical-align: bottom;
		border-bottom: .2rem solid rgba(0, 0, 0, .8);
	}

	.table > thead > tr:first-child > th,
	.table > thead > tr:first-child > th,
	.table > thead:first-child > tr:first-child > th,
	.table > thead > tr:first-child > td,
	.table > thead > tr:first-child > td,
	.table > thead:first-child > tr:first-child > td {
		border-top: 0;
	}

	.table > tbody + tbody {
		border-top: .2rem solid rgba(0, 0, 0, .8);
	}

	#manage_member_page table td[class*="col-"],
	#manage_member_page table th[class*="col-"] {
		position: static;
		float: none;
		display: table-cell;
	}

	#manage_member_page th, #manage_member_page td{
		font-size: 1.2rem;
		width: 25%;
		margin: auto;
		text-align: center;
		height: 5rem;
		vertical-align: middle;
	}

	#manage_member_page~footer{
		position: absolute;
		bottom: 0;
	}

	#manage_member_page~footer #backTop{
		right: 1rem;
		bottom: 103%;
	}

}

/* Format DESKTOP et PLUS */

@media screen and (min-width:1024px) {

	#manage_member_page th, #manage_member_page td{
		font-size: 1.6rem;
		height: 7rem;
	}

}







/*
															INSCRIPTION
*/
#sky-form4 label {
	font-size: 2em;
}

#sky-form4 .form-control{
	margin:auto;
}
#sky-form4 .btn-u {
	border: 0;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	padding: 6px 13px;
	position: relative;
	background: #54D6B5;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
}

#sectionPhotoProfil{
	position: relative;
	width: 20rem;
	height: 13rem;
}

#sectionPhotoProfil img{
	max-width: 100%;
}
#sky-form4{
	background-color: white;
	width: 50%;
	margin: auto;
}

#sky-form4 span{
	display: none;
}

.prev,.next,.switch,.day,.month,.year{
	cursor: pointer;
}
.datepicker table tr td span{
	display: block;
width: 23%;
height: 54px;
line-height: 54px;
float: left;
margin: 1%;
cursor: pointer;
border-radius: 4px;
}
#sectionPhotoProfil{
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}
/*CONTACT*/

#contactSection{
	font-size: 2rem;
	font-weight: none;
}
#inscription_page~footer{
	position: relative;
}

#inscription_page~footer #backTop{
	right: 1rem;
	bottom: 103%;
}
#contactSection form{
    color:black;
        margin-top: 70px;
}

#contactSection form textarea {
    width: 100%;
    height: 100px;
}

#contactSection form label {
    float:left;
}

#contactSection img{
    width: 25%;
position: absolute;
left: 0;
}

#contactSection p{
    color:black;
    width: 80%;
    position: absolute;
    right: 0;
    top: 50px;

}
#contactSection .modal-content {
    border-radius: 15px;
}

 #contactSection .modal-header,.modal-footer{
    background-color: #5f5c5c;
}

#contactSection .modal-footer{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px; 
}
#contactSection .modal-header{
    border-top-left-radius:10px;
    border-top-right-radius:10px; 
}

/*MODAL ML CGV*/

#ml{
	height: 40rem;
	overflow: scroll;
}
#ml p{
	text-align: left;
	font-size: 2em;
}
#cgv{
	height: 40rem;
	overflow: scroll;
}
#cgv p{
	text-align: left;
	font-size: 2em;
}
/*
Resolution d'ecran à 320px minimum
*/
@media screen and (max-width:320px) {
	
	#sky-form4{
	background-color: white;
	width: 100%;
	margin: auto;
	}
	#sectionPhotoProfil {
    position: relative;
    width: 16rem;
    height: 13rem;
	}
	#sandbox-container label{
		width: 16rem;
	}


}

@media screen and (min-width:320px) {
	
	#sky-form4{
	background-color: white;
	width: 100%;
	margin: auto;
	}
	#sectionPhotoProfil {
    position: relative;
    width: 16rem;
    height: 13rem;
	}
	#sandbox-container label{
		width: 100%;
	}


}
@media screen and (min-width:700px) {
	
	#sky-form4{
	background-color: white;
	width: 50%;
	margin: auto;
	}
	#sectionPhotoProfil {
    position: relative;
    width: 16rem;
    height: 13rem;
	}
	#sandbox-container label{
		width: 100%;
	}


}